@font-face {
  font-family: "Gill Sans Light";
  src: url("/fonts/GillSansMTPro-Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Gill Sans Medium";
  src: url("/fonts/GillSansMTPro-Light.otf");
  font-weight: normal;
}

.ContactedContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: for a semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}

.apartmentInterestBox {
  position: absolute;
  height: 300px;
  width: 200px;
  top: 11.5rem;
  left: 3rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  /* background-color: #FCF7EB; */

  z-index: 1000;
}

.Harsukhlogo {
  position: fixed;
  top: 1rem;
  left: 3rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

.apartmentInterestInside {
  width: 160px;
  height: 190px;
  padding: 0.8rem;
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  padding-left: 0.8rem;
  background-color: #fcf7eb;
  border-radius: 0.2rem;
  color: #006d77;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  user-select: none;
  display: grid;
  grid-template-rows: 0.3fr 1.1fr 0.3fr;
}

.apartmentInterestTitle {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apartmentInterestTitleText {
  font-family: "Gill Sans Light";

  font-size: 0.8rem;
  width: 100%;
  color: black;
  font-weight: 700;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.apartmentInterestTitleIcon {
  display: flex;
  flex-direction: row-reverse;
  /* border: 1px solid #006d77;   */
  /* align-items: center; */
  /* justify-content: center; */
}

.apartmentInterestTitleIcon:hover {
  cursor: pointer;
}

.apartmentInterestList {
  padding-top: 1rem;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 0.3rem;
}

.apartmentInterestItem {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 0.75rem;
}

.apartmentInterestItemPrice {
  color: black;
  font-weight: 700;
  display: grid;
  font-size: 0.7rem;

  grid-template-columns: auto auto;
}

.apartmentInterestItemKey {
  font-family: "Gill Sans Light";
  color: #3a3a3a;
  display: flex;
}

.apartmentInterestItemValue {
  font-family: "Gill Sans Light";
  color: #3a3a3a;
  display: flex;
  flex-direction: row-reverse;
}

.apartmentInterestButtonBox {
  height: 100%;
  padding: 0.3rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apartmentInterestButton {
  height: 30px;
  width: 100%;
  background-color: #006d77;
  color: #fcf7eb;
  border-radius: 0.3rem;
  letter-spacing: 0.1rem;
  font-size: 0.65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.GalleryBox {
  position: absolute;
  bottom: 3rem;
  right: 7rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.GalleryBoxTitle {
  font-family: "Gill Sans Light";
  font-size: 0.8rem;
  color: #006d77;
  background-color: #fcf7eb;
  border-radius: 0.3rem;
  width: 120px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupMenu {
  position: fixed;
  top: 113px;
  right: -12px;
  transform: translateX(-50%);
  background-color: #fcf7eb;
  color: #006d77;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.popupMenu.visible {
  opacity: 1;
}

.popupMenuIcon {
  margin-right: 10px;
}

.popupMenuContent {
  font-size: 14px;
}

.popupMenuIcon {
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
  /* justify-content: center; */
}

.popupMenuContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fadeInOut {
  animation: fadeInOut 3s ease-in-out;
  opacity: 0;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .apartmentInterestBox {
    position: absolute;
    height: 300px;
    width: 200px;
    top: 7.2rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }

  .popupMenu {
    position: fixed;
    top: 80%;
    right: -12px;
    bottom: 10px;
    transform: translateX(-50%);
    background-color: #fcf7eb;
    color: #006d77;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}
