@font-face {
  font-family: "Gill Sans Light";
  src: url("/fonts/GillSansMTPro-Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Optima Bold";
  src: url("/fonts/optima/OPTIMA_B.TTF");
  font-weight: normal;
}

@font-face {
  font-family: "Optima";
  src: url("/fonts/optima/OPTIMA.TTF");
  font-weight: normal;
}

@font-face {
  font-family: "Gill Sans Medium";
  src: url("/fonts/gillsans/Gill Sans Medium.otf");
  font-weight: normal;
}

.container {
  background-color: #EBDED2;
  font-family: "Gill Sans Medium";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://cdn.theharsukh.com/images/blog/imageMask-bg.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 30% 100%;
}

.content {
  max-width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 0.8fr 0.1fr 0.1fr fr;
  width: 80vw;
}

.emptyDiv {
  /* Empty div for spacing */
}

.titleSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitleSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  font-family: "Optima Bold", sans-serif;
  color: #333;
  margin: 0;
  text-align: center;
}

.subtitle {
  font-size: 1.3rem;
  font-family: "Optima Bold", sans-serif;
  color: #333;
  margin: 0;
  text-align: center;
  font-weight: bold;
  margin-top: -1rem;
}

.description {
  /* padding: 1rem; */
  padding-top: 0rem;
}

.desc {
  font-size: 1rem;
  font-family: "Gill Sans Light";
  line-height: 1.6;
  color: #000;
  text-align: center;
}

/* Animation Classes */
.titleLines {
  display: block;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.lineInner {
  display: inline-block;
  transform: translateY(100%);
  transition: transform 1.3s cubic-bezier(0.49, 0.23, 0, 1);
}

.isInview .lineInner {
  transform: translateY(0);
}

@media (max-width: 858px) {
  .container {
    background-size: 100%;
    height: 100vh;
    padding: 2rem;
  }

  .content {
    width: 100%;
    grid-template-rows: 0.2fr 0.3fr 0.2fr 1fr;
    max-width: 95%;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.95rem;
    line-height: 1.2;
  }

  .subtitleSection {
    margin-bottom: 0.5rem;
  }

  .description {
    padding: 1rem 0.5rem;
    padding-top: 0rem;
  }

  .desc {
    font-size: 0.95rem;
    line-height: 1.5;
    max-width: 100%;
  }
}

@media (max-width: 430px) {
  .container {
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;

    height: 100vh;
  }

  .content {
    grid-template-rows: 0.15fr 0.25fr 0.15fr 1fr;
    max-width: 100%;
  }

  .title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 0.9rem;
    line-height: 1.3;
  }

  .subtitleSection {
    margin-bottom: 0.3rem;
  }

  .description {
    padding: 0.5rem 0.3rem;
    padding-top: 0;

  }

  .desc {
    font-size: 0.85rem;
    line-height: 1.3;
  }
}
