@font-face {
  font-family: "Gill Sans Light";
  src: url("/fonts/GillSansMTPro-Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Optima Bold";
  src: url("/fonts/optima/OPTIMA_B.TTF");
  font-weight: normal;
}

@font-face {
  font-family: "Optima";
  src: url("/fonts/optima/OPTIMA.TTF");
  font-weight: normal;
}

.container {
  font-family: "Optima";
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #EBDED2;
  user-select: none;
}

.imageSection {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 77%;
  z-index: 1;
}

.backgroundImage {
  object-fit: cover;
}

.backgroundImageLines {
  transform: rotate(8deg);
  margin-left: 5rem;
  margin-top: -10rem;
  object-fit: cover;
}

.contentOverlay {
  position: absolute;
  top: 0;
  left: 40px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.content {
  color: #000;
  text-align: left;
  padding: 2rem;
  max-width: 410px;
}

.title {
  font-size: 2.3rem;
  font-family: "Optima Bold";
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: #909090;
}

/* Animation Classes */
.titleLines {
  display: block;
  overflow: hidden;
  text-align: justify;
  width: 100%;
}

.lineInner {
  display: inline-block;
  transform: translateY(100%);
  transition: transform 1.3s cubic-bezier(0.49, 0.23, 0, 1);
}

.isInview .lineInner {
  transform: translateY(0);
}