@font-face {
  font-family: "Gill Sans Light";
  src: url("/fonts/GillSansMTPro-Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Optima Bold";
  src: url("/fonts/optima/OPTIMA_B.TTF");
  font-weight: normal;
}

@font-face {
  font-family: "Optima";
  src: url("/fonts/optima/OPTIMA.TTF");
  font-weight: normal;
}

.container {
  font-family: "Optima";
  height: 100vh;
  width: 100vw;
  position: relative;
  color: #FCF7EB;
  display: flex;
  flex-direction: column;
}

.container::selection {
  background-color: #006D77;
}

.imageWrapper {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.content {
  position: absolute;
  bottom: 80px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 2;
  padding-left: 0;
}

.subtitle {
  font-family: "Gill Sans Light";
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.ctaBtn {
  background-color: #FCF7EB;
  color: #006D77;
  border: none;
  padding: 12px 21px;
  border-radius: 1.3rem;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  user-select: none;
}

.SplitLines {
  display: inline-block;
  overflow: hidden;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-family: "Optima Bold";

}

.titleLines, .subtitle {
  display: block;
  overflow: hidden;
}

.lineInner {
  display: block;
  transform: translateY(100%);
  transition: transform 2s cubic-bezier(0.49, 0.23, 0, 1);
}

.isInview .lineInner {
  transform: translateY(0);
}

/* Add staggered delays for title and subtitle */
.titleLines:nth-child(1) .lineInner { transition-delay: 0s; }
.titleLines:nth-child(2) .lineInner { transition-delay: 0s; }
.subtitle .lineInner { transition-delay: 0.1s; }


.ContactedContainer {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Optional: for a semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
}


/* Responsive styles */

@media (max-width: 768px) {
  .imageWrapper img {
    object-position: 30% center;
  }
  .content {
    bottom: 60px;
    left: 30px;
  }

  .SplitLines {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .ctaBtn {
    padding: 15px 18px;
    font-size: 0.75rem;
  }

  .whatsappButton {
    bottom: 75px;
    padding-left: 10px;
    padding-right: 10px;
    right: 25px;
    background: linear-gradient(135deg, #fcf7eb, #f0f0f0);
    border: 1px solid #dcdcdc;
  }
  
  .callButton {  
    bottom: 135px;
    right: 25px;
    background-color: #fcf7eb;
  }
}

@media (max-width: 480px) {
  .content {
    bottom: 40px;
    left: 20px;
  }

  .SplitLines {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }

  .ctaBtn {
    padding: 13.5px 16px;
    font-size: 0.7rem;
    margin-bottom: 30px;
  }
  .imageWrapper img {
    object-position: 42% center;
  }
}