@font-face {
  font-family: "Gill Sans Light";
  src: url("/fonts/GillSansMTPro-Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Optima Bold";
  src: url("/fonts/optima/OPTIMA_B.TTF");
  font-weight: normal;
}

@font-face {
  font-family: "Optima";
  src: url("/fonts/optima/OPTIMA.TTF");
  font-weight: normal;
}

.main {
  font-family: "Optima";
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.videoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.videoContentText {
  text-align: center;
  color: white;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.3rem;
  font-family: "Optima Bold";
  margin-bottom: 1.5rem;
}

.content {
  max-width: 700px;
  font-size: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  line-height: 1.8rem;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.animatedText {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.textInner {
  display: inline-block;
  transform: translateY(100%);
  transition: transform 1.5s cubic-bezier(0.49, 0.23, 0, 1);
}

.isInview .textInner {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .title {
    font-size: 1.8rem;
  }

  .content {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }

  
}