@font-face {
  font-family: "Optima Bold";
  src: url("/fonts/optima/OPTIMA_B.TTF");
  font-weight: normal;
}

@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/gillsans/Gill Sans Light.otf");
  font-weight: normal;
}

.container {
  font-family: "Gill Sans";
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.visionContent {
  position: relative;
  height: 100%;
  width: 100%;
}

/* .imageWrapper {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  } */

.visionImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.visionText {
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translateX(-50%);
  z-index: 2;
  height: 70%;
  background-color: rgba(252, 247, 235, 0.2);
  padding: 80px 50px;
  border-radius: 6px 6px 0px 0px;
  max-width: 350px;
  text-align: left;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

/* Animation styles */
.animatedText {
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.textInner {
  display: inline-block;
  transform: translateY(100%);
  transition: transform 1.5s cubic-bezier(0.49, 0.23, 0, 1);
}

.isInview .textInner {
  transform: translateY(0);
}

.title {
  font-family: "Optima Bold";
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #FCF7EB;
}

.content {
  color: rgba(252, 247, 235, 0.68);
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .visionText {
    background-color: rgba(252, 247, 235, 0.16);
    left: 30%;
    backdrop-filter: blur(30px);
    width: 60%;
    padding: 50px 30px;
    font-size: 1.1rem;
  }

  
 

  .visionImage img {
    object-position: 42% center;
  }

  .title {
    font-size: 1.8rem;
  }

  .content {
    font-size: 14px;
  }
}
