
@font-face {
    font-family: "Gill Sans Light";
    src: url("/fonts/GillSansMTPro-Light.otf");
    font-weight: normal;
  }
  @font-face {
    font-family: "Gill Sans Medium Italic";
    src: url("/fonts/GillSansMTPro-MediumItalic.otf");
    font-weight: normal;
  }
  
  .imageBoxOverlay {
    font-family: "Gill Sans Medium Italic";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    overflow: hidden;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  .imageBoxOverlay.active {
    overflow: hidden;
    opacity: 1;
    transform: translateY(0);
  }
  
  .imageBox {
        overflow: none;

    position: relative;
    width: 80%;
    height: 80%;
    max-width: 1200px;
    max-height: 800px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  .imageBoxOverlay.active .imageBox {
    opacity: 1;
    transform: translateY(0);
    overflow: hidden;

  }
  
  .closeButton {
    position: absolute;
    top: 45px;
    right: 5px;
    background: none;
    border: none;
    color: #3A3A3A;
    background-color: rgb(252, 247, 235, 0.6);
    font-size: 24px;
    cursor: pointer;
    /* opacity: 0.6; */
    padding: 2.9px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 100000;
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  
  .closeButton:hover
  {
    /* background-color: #FCF7EB; */
    background-color: rgb(252, 247, 235, 0.1);
    padding: 1px;
  
    /* opacity: 1; */
  }
  
  .imageNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  
  
  .singleImageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .singleImageWrapper img {
    transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  .imageBoxOverlay.active .singleImageWrapper img {
    opacity: 1;
    transform: scale(1);
  }
  
  .singleImageWrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.3) 30%,  rgba(0,0,0,0.2) 65%, rgba(0,0,0,0.8) 100%);
    pointer-events: none;
  }
  
  .imageCaption {
    position: absolute;
    bottom: 40px;
    left: 40px;
    /* font-style: italic; */
    /* right: 40px; */
    color: #fff;
    font-size: 1.5rem;
    /* font-weight: 300; */
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    z-index: 10;
  }
  
  .imageBoxOverlay.active .imageCaption {
    opacity: 1;
    transform: translateY(0);
  }
  
  
  .slideImage {
    border-radius: 0.1rem;
    transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .slideImage.next {
    transform: translateX(100%);
  }
  
  .slideImage.prev {
    transform: translateX(-100%);
  }
  
  
  .imageBoxOverlay.active .slideImage {
    transform: translateX(0);
  }
  
  .navButton {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1);
    opacity: 0;
  }
  
  .imageBoxOverlay.active .navButton {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
  
  .navButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateY(-50%) scale(1);
  }
  
  .navButtonLeft{
    left: 20px;
  }
  
  .navButtonRight {
    right: 20px;
  }
  
  .hidden {
    visibility: hidden;
  }
  
  
  .navigationDots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }
  
  .dot {
    width: 35px;
    height: 4px;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .activeDot {
    background-color: #FCF7EB;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  

  @media (max-width: 768px) {
  
    .container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
    }
  
    .gridContainer {
      position: relative;
      top: 0;
      right: 0;
      width: 250px;
      max-width: 350px;
      height: fit-content;
      max-height: 80vh;
      margin: auto;
      background-color: #FCF7EB;
      border-radius: 0.3rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow-y: auto;
    }
  
    .gridItem {
      margin-bottom: 12px;
    }
  
  }