@font-face {
    font-family: 'Gill Sans Light';
    src: url('/fonts/GillSansMTPro-Light.otf');
    font-weight: normal;
  }

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}
  

.floorLayoutContainer {
    position: relative;
    font-family: 'Gill Sans Light';
    background-color: rgba(0, 29, 32, 1);
    height: 100vh;
    width: 100vw;
  }

.transitionContainer {
    opacity: 1;
    transform: scale(1);
    font-family: 'Gill Sans Light';
}

.topLogoContainer,
.buttonsContainer,
.filterContainer,
.menuContainer,
.bottomLogoContainer 
{
    display: none;
}

.topLogoContainer,
.buttonsContainer,
.filterContainer,
.menuContainer
{
    position: fixed;
    z-index: 10;
    user-select: none;
    font-family: 'Gill Sans Light';

}
  
.menuContainer {
    top: 3rem;
    right: 3rem;
    height: 3.8rem;
    width: 26rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 0.2fr;
}

.longvideoTab
{
    border: 1px solid blue;
    align-items: center;
    justify-content: center;
    /* background-color: #FCF7EB; */
    color:  #006d77 ;
    border: none;
    
    height: 2.8rem;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    border-radius: 0.9rem;
    /* cursor: pointer; */
    display: grid;
    column-gap: 0.4rem;
    grid-template-columns: auto auto auto;
    transition: all 0.3s ease-in-out;
    /* flex-direction: row-reverse; */
  }



  .transitionContainers {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Adjust the timing as needed */
  }
  
  .transitionContainers.fadeIn {
    opacity: 0;
  }
  
  .loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.8); */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it's on top of everything */
  }




.videosubTab
{
    /* border: 1px saddlebrown solid; */
    /* padding: 0.4rem;
    padding-left: 0.6rem;
    padding-right: 0.4rem;
    border-radius: 1.5rem; */
    width: 100px;
    height: 38px;
    padding: 0.4rem;
    display: grid;
    border-radius: 1.5rem;
    /* display: grid; */
    grid-template-columns: 0.5fr 1fr;
    background-color: #FCF7EB;
    transition: all 0.3s ease-in-out;

}

.videosubTab.active

{
  background-color: #006d77;
  color: #FCF7EB; 
}




.videosubTab:hover
{
    cursor: pointer;
    /* background: #e2f9fe; */
}


.videosubTabTitle
{
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  /* font-weight: 600; */
}

.videosubTabIcon
{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FCF7EB;
    border-radius: 50%;
    background-color: #FCF7EB;
    height: 1.5rem;
    width: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bottomLogoContainer {
  user-select: none;
  position: fixed;
  bottom: -78px;
  /* left: 3rem; */
  z-index: 0;
  left: 0rem;
  display: flex;
  flex-direction: column;
}

.bottomLogoContainerTitle
{
  position: absolute;
  font-family: 'Gill Sans Medium';
  font-size: 0.9rem;
  bottom: 10.5rem;
  left: 3rem;
  color: #FCF7EB;
}


.menuContainerInside
{
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  flex-direction: row-reverse;
  /* justify-content: center; */
  /* border: 1px solid red; */
}

.callContainer
{
  position: absolute;
  bottom: 2rem;
  right: 2.9rem;
  height: 2.8rem;
  width: 2.8rem;
  background: #FCF7EB;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transform: translateY(-20px) scale(0.98);
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.callContainer:hover {
  cursor: pointer;
  transform: translateY(-20px) scale(1);
}

.mapsViewBox {
    padding-top: 0.3rem;
  }
  
  .mapsViewBox img {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1)); /* Subtle icon shadow */
  }


  .Harsukhlogo {
    position: fixed;
    top: 1rem;
    left: 3rem;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    user-select: none;
  }
  
  .AlyamarLogo {
    position: fixed;
    bottom: -5rem;
    left: 0rem;
    overflow: hidden;
    transition: all 0.3s ease;
    pointer-events: none; /* This prevents any interaction */
    user-select: none;
  }
  
.elevationContainer
{
  position: absolute;
  height: 5vh;
  width: 140px;
  top: 8rem;
  left: 3rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  z-index: 1000;
}


/* ---------------------------- */
/* ---------------------------- */


.container {
  position: fixed;
  bottom: -0.5rem;
  right: 0rem;  
  height: 100px;
  width: 100px;
  /* border: 1px solid #dcdcdc;   */
  display: flex;
  /* align-items: center;
  justify-content: center; */
}


.formButton {
  bottom: 103px;
  padding-left: 12px;
  right: 28px;
  background: linear-gradient(135deg, #fcf7eb, #f0f0f0);
  border: 1px solid #dcdcdc;

}  

.buttonss {
  color: #006d77;
  position: absolute;
  height: 40px;
  width: 40px;
  border: none;
  margin-top: 2rem;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 14px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.mapButton 
{
  bottom: 158px;
  padding-left: 12px;
  right: 48px;
  background: linear-gradient(135deg, #fcf7eb, #f0f0f0);
  border: 1px solid #dcdcdc;
}

.formButton {
  bottom: 103px;
  padding-left: 10px;
  right: 48px;
  background: linear-gradient(135deg, #fcf7eb, #f0f0f0);
  border: 1px solid #dcdcdc;

}

.callButton {
  /* padding-right: ; */
  bottom: 48px;
  right: 48px;
  background-color: #fcf7eb;
}
.button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.expanded {
  width: 140px;
}

.buttonText {
  margin-left: 8px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #006d77;
  white-space: nowrap;
  font-family: 'Gill Sans Light';
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.expanded .buttonText {
  opacity: 1;
}

.ContactedContainer {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Optional: for a semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
}

.elevationsContainer {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
}

.backgroundVideoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.videoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundVideo {
  position: absolute;
  object-fit: cover;
}

#masker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media (max-width: 768px) {

  .Harsukhlogo
  {
      top: 2.5rem;
      left: 2rem;
      pointer-events: none;
      cursor: pointer;
  }

  .menuContainer {
    top: 0rem;
    right: 20px;
    height: 10rem;
    width: 8.5rem;
    display: grid;
    align-items:none;
    justify-content: none;
    flex-direction: row-reverse;
    grid-template-rows: 1fr 0.2fr;
    grid-template-columns: 1fr;
}

.callButton {
  bottom: 48px;
  right: 28px;
  background-color: #fcf7eb;
}

.formButton {
  bottom: 103px;
  padding-left: 12px;
  right: 28px;
  background: linear-gradient(135deg, #fcf7eb, #f0f0f0);
  border: 1px solid #dcdcdc;

}  

.mapButton {
  bottom: 158px;
  right: 28px;
  background: linear-gradient(135deg, #fcf7eb, #f0f0f0);
  border: 1px solid #dcdcdc;
}


.longvideoTab
{
    align-items: none;
    /* justify-content: end; */
    /* background-color: #FCF7EB; */
    color:  #006d77 ;
    border: none;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    height: 2.8rem;
    margin-right: -2rem;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    border-radius: 0.9rem;
    /* cursor: pointer; */
    display: grid;
    flex-direction: row-reverse;
    column-gap: 0.4rem;
    row-gap: 0.4rem;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    transition: all 0.3s ease-in-out;
}

.videosubTab
{
    /* border: 1px saddlebrown solid; */
    width: 100px;
    height: 38px;
    padding: 0.4rem;
    display: grid;
    border-radius: 1.5rem;
    /* display: grid; */
    grid-template-columns: 0.5fr 1fr;
    background-color: #FCF7EB;
    transition: all 0.3s ease-in-out;

}

.videosubTab.active

{
  background-color: #006d77;
  color: #FCF7EB; 
}


.videosubTabTitle
{
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  display: flex;
  font-size: 0.75rem;
  align-items: center;
    justify-content: first baseline;
  border-radius: 0.4rem;
  /* font-weight: 600; */
}

.videosubTabIcon
{
    display: flex;
    align-items: center;
    justify-content: first baseline;
    color:#FCF7EB;
    border-radius: 50%;
    background-color: #FCF7EB;
    height: 1.5rem;
    width: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


}




