@font-face {
    font-family: "Gill Sans Light";
    src: url("/fonts/gillsans/Gill Sans Light.otf");
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gill Sans Medium";
    src: url("/fonts/gillsans/Gill Sans Medium.otf");
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Optima Bold";
    src: url("/fonts/optima/OPTIMA_B.TTF");
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Optima";
    src: url("/fonts/optima/OPTIMA.TTF");
    font-weight: normal;
    font-display: swap;
  }

  .main {
    min-height: 100vh;
    width: 100vw;
    background-color: #FCF7EB;
    color: #000;
    padding-top: 10vh;
    font-family: "Gill Sans Light";
    z-index: 99999999999;
  }

  .container {
    /* max-width: 100vw; */
    /* height: 100%; */
    margin: 0 auto;
    padding: 2rem;
    padding-top: 0rem;
    padding-left: 3.5rem;
  }
  
  .pageTitle {
    font-family: "Optima", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    height: 100%;
  }
  
  .blogGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .blogGrid > *:first-child {
    grid-column: span 3;
  }
  
  @media (max-width: 768px) {
    .blogGrid {
      grid-template-columns: 1fr;
    }
  
    .blogGrid > *:first-child {
      grid-column: span 1;
    }
  }