@font-face {
  font-family: "Gill Sans Light";
  src: url("/fonts/gillsans/Gill Sans Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Gill Sans Medium";
  src: url("/fonts/gillsans/Gill Sans Medium.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Optima Bold";
  src: url("/fonts/optima/OPTIMA_B.TTF");
  font-weight: normal;
}

@font-face {
  font-family: "Optima";
  src: url("/fonts/optima/OPTIMA.TTF");
  font-weight: normal;
}

/* styles/swupAnimation.module.css */
.swupFadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.swupFadeIn.swupEnter {
  opacity: 1;
  transform: translateY(0);
}


.main {
  min-height: 100vh;
  width: 100vw;
  background-color: #FCF7EB;
  color: #000;
  /* padding-top: vh; */
  font-family: "Gill Sans Light";
}

.container {
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
  padding-left: 3.5rem;
}

.pageTitle {
  font-family: "Optima", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 2rem;

}

.blogGrid {
  display: flex;
  
  /* border: 1px green solid; */
  gap: 2rem;
  min-height: 100vh;
  /* height: calc(100vh - 15rem);  */
  /* Adjust based on your layout */
}

.largePostWrapper {
  flex: 1;
  position: sticky;
  /* top: 2rem; */
  height: fit-content;
  max-height: 100%;
}

.smallPostsWrapper {
  flex: 0.9;
  height: 100%;
  /* width:50%; */
  /* padding-left: 5rem; */
  /* width: ; */
  padding-right: 5rem;
  overflow: hidden; /* Hide overflow */
}

.smallPosts {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  overflow-y: auto;
  height: 100%;
  width: fit-content;
  

  padding-right: 4rem; 
  /* border: 1px solid red; */
  /* Add some padding for the scrollbar */
}

.card {
  /* background-color: #d2d2d2; */
  width: fit-content;
  border-radius: 8px;
  overflow: hidden;
  height: 140px;
  padding: 3rem;
  padding-top: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.largeCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.smallCard {
  display: flex;
  height: 190px; 
  /* padding-left: 4rem; */
  padding-right: 3rem;
  width: 100%;
  /* padding: ; */
}

.imageWrapper
{
  padding: 2rem;;
  padding-right: 1rem;
  padding-bottom: 0rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.image {
  object-fit: cover;
  border-radius: 0.5rem;
}

.largeCard .imageContainer {
  flex: 0 0 auto;
}

.smallCard .imageContainer {
  width: 240px; /* 16:9 aspect ratio for 150px height */
  padding-top: 0;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 1rem;
}

.content .excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.SmallCardcontent
{
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  padding-top: 2rem;
  width: 100%;
}

.titleText
{
  font-size: 1.3rem;
}

.largeCard .content {
  flex: 1;
}

.title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: inherit;
  font-family: "Optima Bold";

}

.excerpt {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
  flex: 1;
}

.SmallCardcontent .excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 3rem; /* Ensure this height aligns with the two lines */
  line-height: 1.5rem; /* Adjust according to your font size */
}


.readMore {
  color: #006D77;
  text-decoration: underline; 
  font-weight: 500;
  width: fit-content;
  margin-top: auto;
}

.readMore:hover {
  text-decoration: none; 
}


@media (max-width: 768px) {
  .blogGrid {
    flex-direction: column;
    height: auto;
  }

  .largePostWrapper {
    position: static;
  }

  .smallPostsWrapper {
    height: auto;
    max-height: none;
  }

  .smallPosts {
    max-height: none;
    overflow-y: visible;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .smallCard {
    flex-direction: column;
    height: auto;
  }

  .smallCard .imageContainer {
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
}