.backgroundImageContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  object-fit: cover;
}

#masker {
  position: absolute;
  pointer-events: none;
}

.st0 {
  opacity: 0;
  fill: #ffffff;
  cursor: pointer;
  -moz-transition: all 0.84s ease-out;
  -o-transition: all 0.84s ease-out;
  -webkit-transition: all 0.84s ease-out;
  -ms-transition: all 0.84s ease-out;
  transition: all 0.84s ease-out;  pointer-events: all;
}

.st0:hover {
  opacity: 0.5;
  fill: #ffffff;
  stroke: "#0000ff";
  stroke-width: 2px;
}

@media (max-width: 768px) {
  .backgroundImageContainer {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}