
@font-face {
  font-family: 'Gill Sans Medium';
  src: url('/fonts/GillSansMTPro-Medium.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Gill Sans Condensed';
  src: url('/fonts/GillSansMTPro-Condensed.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Gill Sans Book';
  src: url('/fonts/GillSansMTPro-Book.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Gill Sans Light';
  src: url('/fonts/GillSansMTPro-Light.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Gill Sans BdCn';
  src: url('/fonts/GillSansDisplayMTPro-BdCn.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Gill Sans Heavy';
  src: url('/fonts/GillSansMTPro-Heavy.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Gill Sans BdCn';
  src: url('/fonts/GillSansMTPro-BdCn.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Gill Sans ShawdowLight';
  src: url('/fonts/GillSansShadowedMTPro-Light.otf');
  font-weight: normal;
}


.Harsukhlogo {
  position: fixed;
  top: 1rem;
  left: 3rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

.bottomLogoContainer {
  position: absolute;
  bottom: -5.5rem;
  left: -0.5rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

.container {
  font-family: 'Gill Sans Light';

  position: fixed;
  top: 11.5rem;
  left: 3rem;
  background-color: #FCF7EB;
  /* background-color: rgba(255, 255, 255, 0.8); */
  backdrop-filter: blur(10px);
  border-radius: 0.3rem;
  color: #006d77;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  width: 160px;
  padding: 0.4rem 0.4rem;
  z-index: 10000;
}

.container:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.floorLabel
{
  font-family: 'Gill Sans Book';
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  border-bottom: 0.5px solid rgba(159, 127, 127, 0.3);
  letter-spacing: 0.08rem;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  cursor:auto;
}



.elevationContainer {
  position: fixed;
  top: 8rem;
  left: 3rem;
  width: 160px;
  height: 40px;
  background-color: #FCF7EB;
  border-radius: 0.2rem;
  color: #006d77;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  user-select: none;
}

.elevationContainer:hover {
  cursor: pointer;
}


.elevationContainerInside {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.5rem;
  font-size: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


.elevationContainerInside:hover {
  background-color: rgba(0, 109, 119, 0.1);
}

.elevationLeft
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
  transition: 0.3s ease all;
}

.elevationLeft:hover
{
  height: 30px;
  width: 30px;
  border-radius: 0.3rem;
  background-color: rgba(0, 109, 119, 0.2);
}

.elevationRight
{
  flex: 1;
  display: flex;
  height: 40px;

  align-items: center;
  justify-content: space-between;
}

/* .elevationRight
{
  display: flex;
  align-items: center;
  justify-content: center;
} */


.elevfloorBar {
  position: absolute;
  top: 100%;
  margin-top: -0.1rem;
  left: 0;
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  background-color: #FCF7EB;
  border-radius: 0 0 0.2rem 0.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.elevfloorBar.open {
  max-height: 320px; 
  opacity: 1;
  padding: 0.4rem 0.3rem;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in, padding 0.3s ease-in;
}


.floorBar {
  
  display: grid;
  grid-template-rows: auto;
  row-gap: 0.25rem;
  font-size: 0.7rem;
  overflow: hidden;
  /* max-height: 0; */
  opacity: 0;
  /* min-width: 7.1vw; */
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
}

.floorBar.open {
  max-height: 320px; 
  opacity: 1;
  padding: 0.4rem 0.3rem;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in, padding 0.3s ease-in;
}



.dropDownfloorButton {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #006d77;
  border-radius: 0.2rem;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3);

}


.floorButton {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #006d77;
  border-radius: 0.2rem;
  font-size: 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s, color 0.3s;

}

.floorButton::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(0, 109, 119, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease;
}

/* .floorButton:hover::after {
  width: 300%;
  height: 300%;
} */

.floorButton.active {
  background-color: #006d77;
  color: #FCF7EB;
  transition: background-color 0.3s, color 0.3s;

  /* rgba(39, 39, 39, 0.2); */
}

/* --------------- */




.eventsButtoninside {
  height: 100%;
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  font-size: 0.8rem;
}

.elevationButtonTitle {
  flex: 1;
  height: 25px;
  padding-left: 0.5rem;
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  border-left: rgba(0, 0, 0, 0.2) solid 1px;
}

.elevationButtonArrow {
  width: 20px;
  display: flex;
  justify-content: center;
}


.elevationBar {
  display: grid;
  grid-template-rows: auto;
  row-gap: 0.3rem;
  font-size: 0.7rem;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
}

.elevationBar.open {
  position: fixed;
  max-height: 10rem; 
  /* background-color: royalblue; */
  opacity: 1;
  padding: 0.4rem 0.5rem;
}

.ElevationBtn {
  padding: 0.6rem 1rem;
  background-color: transparent;
  color: #006d77;
  border-radius: 0.5rem;
  font-size: 0.65rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.ElevationBtn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(0, 109, 119, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease;
}

.ElevationBtn:hover::after {
  width: 300%;
  height: 300%;
}

.ElevationBtn.active {
  background-color: rgba(0, 109, 119, 0.2);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 1000px) {

  .elevationButtonTitle
  {
    /* margin-left: 0.2rem; */
  }
}

