@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
